If:
    PathMatch: .*\.[ch]pp
CompileFlags:
    Add: [
      -I/opt/homebrew/Cellar/verilator/5.006/share/verilator/include,
      -I/opt/homebrew/Cellar/verilator/5.006/share/verilator/include/vltstd,
      -I./obj_dir,
      -std=gnu++17, -Wall, -Wextra, -Wshadow, -Wconversion
    ]
